<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color:<%= backgroundColor %>;">
    <h1><%= title %></h1>
    <p><%= randomCompliment %></p>
    <form id="newComplimentForm" action="/" method="post">
      <div>
        New Compliment: <input type="text" name="compliment" id="newCompliment">
      </div>
      <input type="submit" value="Save">
    </form>
  </body>
</html>
