<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= words %></h1>
    <p>It's time to <%= title %></p>

    <h2><%= niceComment %></h2>
  </body>
</html>
