<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h2><%= title %></h2>
    <h1><%= compliment %></h1>
    <form name="com"  method="post" action="/">
      <input type="text" name="complimenter">
      <input type="submit" value="add compliment">
    </form>
  </body>
</html>
