<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <p><%= compliment %></p>

    <form action="/" method="post">
      Create your own compliment: <input type="text" name="compliment">
      <input type="submit" value="add compliment">
    </form>

  </body>
</html>
