<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2><%= niceComment %></h2>
    <form class="" action="/" method="post">
      Compliment: <input type="text" name="compliment" value="">
      <input type="submit" name="" value="send">
    </form>
  </body>
</html>
