<!DOCTYPE html>
<html>
  <head>
    <title>Personal <%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= randomCompliment %></p>
  </body>
</html>
