<!DOCTYPE html>
<html>
  <head>
    <title>Compliments!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{
        background-color: <%= color %>;
      }
    </style>
  </head>
  <body>
    <h1><%= greeting %> <%= compliment %></h1>
  </body>
</html>
